.heroWrapper {
  background-color: var(--color-header-bg);
  padding: 6rem 2rem;
  text-align: center;
  color: var(--color-header-text);
}

.productOuterContainer {
  max-width: 100vw;
  padding: 4rem 2rem;
}

.productWrapper {
  max-width: var(--width-xl);
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  overflow-x: scroll;
  padding: 0 0 2rem 0;
  scrollbar-width: none;
}

@media (--width-xl) {
  .productWrapper {
    scrollbar-width: thin;
  }
}

@media (--width-md) {
  .heroWrapper {
    padding: 6rem 1rem;
  }

  .productOuterContainer {
    padding: 4rem 1rem;
  }
}
