.productLink {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  /* width: 100%; */
  width: fit-content;
}

.productLink:hover {
  transform: scale(0.98);
  filter: opacity(1);
}

/* --- Image section --- */
.productCardContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 100%;
  width: 17rem;
  /* height: 15rem; */
  box-shadow: var(--shadow-card);
  position: relative;
}

.productImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 15rem;
  max-height: 10rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

/* --- Info section --- */
.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
  font-size: var(--font-size-sm);
  min-height: 10rem;
  border-end-end-radius: var(--border-radius);
  border-end-start-radius: var(--border-radius);
}

.infoContainer h3 {
  display: flex;
}

.ratingElement {
  display: flex;
  gap: 0.25rem;
}

.starIcon {
  color: var(--color-accent);
  height: 1rem;
  width: 1rem;
}

.priceContainer {
  display: flex;
  gap: 0.5rem;
  margin-top: auto;
  /* height: 100%; */
}

.priceContainer .discountPrice {
  align-self: flex-end;
  color: var(--color-accent);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.priceContainer .defaultPrice {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-light);
  text-decoration: line-through;
  filter: opacity(0.7);
  color: var(--color-header-text);
  align-self: flex-end;
  margin-bottom: 0.2rem;
}
