.secondaryButton {
  display: flex;
  justify-content: center;

  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  text-align: center;
  background-color: transparent;
  color: var(--color-text);
  padding: 0.75rem 1.75rem;
  border: 1px solid var(--color-text);
  border-radius: var(--border-radius);
}

.secondaryButton:focus-visible {
  outline: 4px solid #284b4f;
  outline-offset: 4px;
}
