.cardContainer {
  display: flex;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 4px var(--color-header-bg);
  width: fit-content;
  padding: 1.5rem;
}

.cardImg {
  max-width: 9rem;
  object-fit: cover;
}

.centerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1rem;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.discountedPrice {
  font-size: var(--font-size-md);
  color: var(--color-accent);
  font-weight: var(--font-weight-bold);
}

.price {
  font-size: var(--font-size-xs);
  text-decoration: line-through;
  filter: opacity(0.5);
  font-weight: var(--font-weight-light);
}

.quantityContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.qtyWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.qtyButton {
  display: flex;
  padding: 0.25rem;
  font-size: var(--font-size-md);
}

.trashWrapper {
  display: flex;
  align-items: center;
}

.delButton {
  display: flex;
  align-items: center;
  filter: opacity(0.9);
  gap: 0.25rem;
  color: var(--color-error);
}

.trashIcon {
  width: 1.125rem;
}

@media (--width-md) {
  .cardContainer {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .centerWrapper {
    gap: 1rem;
    padding: 0;
  }
}
