/* our design system, one file to rule them all: values for the variables used on our site.

/* ---------------- DESIGN TOKENS ---------------- */

:root {
  /* COLORS - PRIMITIVE (not used directly in components) */
  --color-black: #131313;
  --color-white: #f6f6f6;
  --color-orange: #ff803b;
  --color-red: #a71508;
  --color-gray: #c9d2d4;
  --color-green: #284b4f;

  /* SPACING */
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;

  /* WIDTH */
  --width-sm: 450px;
  --width-md: 650px;
  --width-lg: 900px;
  --width-xl: 1200px;

  /* BORDERS */
  --border-radius: 0.3125rem;
  --border-width: 1px;

  /* SHADOWS */
  --shadow-button: 1px 2px 2px 0 rgba(19, 19, 19, 0.25);

  /* TYPOGRAPHY */
  --font-body: "Open Sans", sans-serif;
  --font-heading: "Inter", sans-serif;
  --font-logo: "Judson", serif;

  --font-size-sm: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2.25rem;

  --font-size-paragraph: var(--font-size-sm);
  --font-size-h1: var(--font-size-xxl);
  --font-size-h2: var(--font-size-xl);
  --font-size-h3: var(--font-size-lg);
  --font-size-h4: var(--font-size-md);

  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

/* ---------------- THEME ---------------- */

:root {
  color-scheme: light dark;

  /* SEMANTIC COLORS (used in components) */
  --color-bg: var(--color-white);
  --color-text: var(--color-black);
  --color-border: var(--color-black);
  --color-primary: var(--color-white);
  --color-accent: var(--color-orange);
  --color-disabled: var(--color-gray);
  --color-success: var(--color-green);
  --color-warning: var(--color-orange);
  --color-error: var(--color-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-black);
    --color-text: var(--color-white);
    --color-border: var(--color-white);
    --color-primary: var(--color-white);
    --color-accent: var(--color-orange);
    --color-disabled: var(--color-gray);
    --color-success: var(--color-green);
    --color-warning: var(--color-orange);
    --color-error: var(--color-red);
  }
}
