/*-----------------------Base-----------------------*/
body {
  font-family: var(--font-body);
  font-size: var(--font-size-paragraph);
  color: var(--color-text);
  background-color: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*-----------------------Headings-----------------------*/
h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  color: var(--color-text);
}

h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}

/*-----------------------Body Text-----------------------*/

p {
  text-wrap: pretty;
}

/*-----------------------Links-----------------------*/
a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  filter: opacity(0.8);
}
