.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 4rem 2rem;
  border-radius: var(--border-radius);
  background-color: var(--color-error);
}

.message {
  color: var(--color-header-text);
  font-size: var(--font-size-xl);
}
