.mainContainer {
  max-width: var(--width-xl);
  margin: 6rem auto;
  padding: 0 2rem;
}

.headline {
  margin: 0 0 2rem 0;
}

.cardWrapper {
  display: flex;
}

.cardImg {
  max-width: 9rem;
  object-fit: cover;
}

.centerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1rem;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.discountedPrice {
  font-size: var(--font-size-md);

  color: var(--color-error);
  font-weight: var(--font-weight-bold);
}

.price {
  font-size: var(--font-size-xs);
  text-decoration: line-through;
  filter: opacity(0.5);
  font-weight: var(--font-weight-light);
}

.quantityWrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.trashWrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.trashIcon {
  width: 1.25rem;
}

.trashWrapper p {
  font-size: var(--font-size-xs);
}

.summaryContainer {
  margin: 2rem 0 0 0;
  width: 20rem;
}
