.headerContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: var(--color-header-bg);
  margin-bottom: 2rem;
  color: var(--color-header-text);
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--width-xl);
  height: 4rem;
  padding: 1rem 2rem;
}
