.footerContainer {
  padding: 1rem;
  width: 100%;
  color: var(--color-footer-text);
  background-color: var(--color-footer-bg);
}
.icon {
  width: 24px;
  height: 24px;
  color: currentColor;
}
.footerNav {
  display: flex;
  justify-content: space-evenly;
}
.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileFooter {
  display: none;
}

.desktopFooter {
  display: flex;
  justify-self: center;
}

@media (--width-sm) {
  .desktopFooter {
    display: none;
  }

  .mobileFooter {
    display: block;
  }
}
