.footerContainer {
  padding: 1rem 0;
  width: 100%;
  color: var(--color-header-text);
  background-color: var(--color-header-bg);
}
.linkStyle svg,
.icon {
  width: 24px;
  height: 24px;
  color: currentColor;
}

.footerNav {
  display: flex;
  justify-content: space-evenly;
}
.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileFooter {
  display: none;
}

.desktopFooter {
  display: flex;
  justify-self: center;
}

.circleStyle {
  right: 0;
  top: 0;
  translate: 50% -25%;
  width: 1.25rem;
  height: 1.25rem;
}

.cartName {
  display: block;
  margin: -6px 0 0 0;
}

@media (--width-sm) {
  .desktopFooter {
    display: none;
  }

  .mobileFooter {
    display: block;
  }
}
